body {
	background-color: #266150;
}

body {
    display: block;
    margin: auto;
    width: 50%;
    border: double rgb(0, 0, 0);
    font-family: Verdana;
}

header {
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 1px;
}

main {
    padding: 10px;
    background-color: #f3f3f3;
}

input {
  padding: 15px;
  margin: 4px 0;
  display: inline;
  background-color: lightgray;
}


input:hover {
  border-color: green;
}

input:focus {
  background-color: lightgreen;
}

::placeholder {
  font-family: Verdana;
  color: black;
}

.register_button {
  display: block;
  background-color: #266150;
  color: white;
  padding: 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.register_button:hover {
  opacity:1;
}

.toggle {
  display: inline;
  cursor: pointer;
}

.toggle_password {
  font-size: 10px;
}

.country_code {
  width: 10%;
}

.error {
  color: red;
  font-size: 10px;
}