/* Add padding to containers */
body {
  background-color: white;
  display: block;
  margin: 5% 0% 5% 25%;
  width: 50%;
  border: outset rgb(0, 0, 0);
  border-width: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Colouring the label of each input box */
label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: green;
}

/* Styling the input box */
input {
  display: inline;
  width: 250px;
  box-sizing: border-box;
  padding: 12px;
  background-color: aliceblue;
  color: black;
  font-weight: bold;
}


/* Setting the background of the input box to dark sea green when clicked (focused) */
input[type=text]:focus, input[type=password]:focus {
  background-color:darkseagreen;
}

/* Setting the border of the input box to green when hovered over */
input[type=text]:hover, input[type=password]:hover {
  border-color: green;
}

/* Styling the Register Button */
.register_button {
  display: block;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;

  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 0px 250px;
  height: 50px;
  width: 50%;
  color: #000;
  background-color: greenyellow;
  border: 0px;
  border-radius: 3px;
  border: outset black;
}

/* Setting the background colour of the register button to a brighter coloured green */
.register_button:hover {
  background-color: rgb(127, 255, 47)
}